body {
    background-color: #f1f1f1;
}

.header {
    background-color: black;
}

.errorlist {
    color: #f63131;
}

.nav-bar {
    font-size: 0.85em;
}

.movie-genres {
    border-right: 1px solid #5f5f5f;
}
