{% extends 'base.html' %}

{% block title %}{{ person }}{% endblock %}
{% block content %}
    <div class="row mt-3 person-info">
        <div class="col-4 person-poster">
            <img class="img-fluid rounded" src="{{ person.image.url }}" alt="person-poster" height="360" width="240">
        </div>
        <div class="col-8">
            <h2>
                {{ person }}
            </h2>
            {% if person.name_en %}
                <h4>{{ person.name_en }}</h4>
            {% endif %}
            <table class="table table-striped">
                <tbody>
                <tr>
                    <td>профессия</td>
                    {% block profession %}
                        <td>Режиссер</td>
                    {% endblock %}
                </tr>
                {% if person.born_date %}
                    <tr>
                        <td>дата рождения</td>
                        <td>{{ person.born_date }}</td>
                    </tr>
                {% endif %}
                {% if person.born.place %}
                    <tr>
                        <td>место рождения</td>
                        <td>{{ person.born_place }}</td>
                    </tr>
                {% endif %}
                {% if person.link %}
                    <tr>
                        <td>кинопоиск</td>
                        <td><a href="{{ person.link }}">(тыц)</a></td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="card my-3">
        <div class="card-header">{% block related_header %}Фильмы, которые снимал режиссер: {% endblock %}</div>
        <div class="card-body">
            <div class="row">
                {% for movie in related_movies %}
                    <div class="col-3">
                        <div class="card mb-2">
                            <a href="{% url 'movie_view' pk=movie.id %}">
                                <img class="card-img-top img-thumbnail rounded" src="{{ movie.image.url }}"
                                     alt="movie-poster"
                                     height="150"
                                     width="100">
                                <div class="card-body">{{ movie.title }}</div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}