{% extends 'base.html' %}


{% block login %}
{% endblock %}
{% block body %}
    <div class="col-12 rounded" style="background-color: white">
        <form class="form-group text-center p-5" method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {% if form.errors %}
                {% for error in form.non_field_errors %}
                    <div class="errorlist">{{ error }}</div>
                {% endfor %}
            {% endif %}
            <div>Имя пользователя:</div>
            {{ form.username }}<br/>
            <div>Пароль:</div>
            {{ form.password }}<br/>
            <button class="btn btn-primary my-2" type="submit">Войти</button>
        </form>
        <div class="text-center">Еще нет аккаунта? <a href="{% url 'registration' %}">Зарегистрироваться</a></div>
    </div>
{% endblock body %}