{% extends "base.html" %}

{% block content %}
    <div class="row mt-3 movie-info">
        <div class="col-4 movie-poster">
            <img class="img-fluid rounded" src="{{ movie.image.url }}" alt="movie-poster" height="360" width="240">
            <div><span class="rating badge badge-pill badge-primary mt-3">КП {{ movie.rating_kp }}</span>
                {% if movie.rating_imdb %}
                    <span class="rating badge badge-pill badge-dark mt-3">IMDB {{ movie.rating_imdb }}</span>
                {% endif %}
            </div>
            <div>
                {% if movie in user.wish_list.all %}
                    <a href="{% url 'rm_movie' pk=movie.id %}">&#9733;</a>
                {% else %}
                    <a href="{% url 'add_movie' pk=movie.id %}">&#9734;</a>
                {% endif %}
            </div>
        </div>
        <div class="col-8">
            <h2>
                {{ movie.title }} {% if movie.is_tv_series %}(сериал){% endif %}
            </h2>
            {% if movie.title_en %}
                <h4>{{ movie.title_en }}</h4>
            {% endif %}
            <table class="table table-striped">
                <tbody>
                <tr>
                    <td>год</td>
                    <td>
                        <a href="{% url 'year_view' param=movie.year %}">{{ movie.year }}</a>
                    </td>
                </tr>
                <tr>
                    <td>страна</td>
                    <td>
                        {% for country in movie.country.all %}
                            <a href="{% url 'country_view' param=country %}">
                                {{ country }}{% if not forloop.last %},{% endif %}</a>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td>жанр</td>
                    <td>
                        {% for genre in movie.genre.all %}
                            <a href="{% url 'genre_view' param=genre %}">
                                {{ genre }}{% if not forloop.last %},{% endif %}</a>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td>режиссер</td>
                    <td>
                        <a href="{% url 'director_view' pk=movie.director.id %}">{{ movie.director }}</a>
                    </td>
                </tr>
                <tr>
                    <td>в главных ролях</td>
                    <td>
                        {% for actor in movie.actors.all %}
                            <a href="{% url 'actor_view' pk=actor.id %}">
                                {{ actor }}{% if not forloop.last %},{% endif %}</a>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td>премьера</td>
                    <td>{{ movie.premiere }}</td>
                </tr>
                <tr>
                    <td>продолжительность</td>
                    <td>{{ movie.duration_min }} мин.</td>
                </tr>
                <tr>
                    <td>кинопоиск</td>
                    <td><a href="{{ movie.link_kp }}">тыц</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card mb-2">
        <div class="card-header"><h6>Описание</h6></div>
        <div class="card-body">{{ movie.description }}</div>
    </div>
    <div class="card">
        <div class="card-header">Если вам понравился этот фильм, не пропустите:</div>
        <div class="card-body">
            <div class="row">
                {% for sim_movie in similar_movies %}
                    <div class="col-3">
                        <div class="card mb-2">
                            <a href="{% url 'movie_view' pk=sim_movie.id %}">
                                <img class="card-img-top img-thumbnail rounded" src="{{ sim_movie.image.url }}"
                                     alt="movie-poster"
                                     height="150"
                                     width="100">
                                <div class="card-body">{{ sim_movie.title }}</div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}